### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [81]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# look for missing values
#purchase_data.count()
#purchase_data.columns

## Player Count

* Display the total number of players

In [82]:
#Total = purchase_data.count()
#Total = sum(purchase_data.Purchase ID)
#purchase_data.dtypes
#purchase_data.groupby('SN').sum()
Total = int(purchase_data['SN'].count())
print ('The total Number of Players is', Total)
purchase_data.head()

The total Number of Players is 780

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
Unique_item_count = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
Total_Revenue = purchase_data['Price'].sum()
purc_count = purchase_data['Purchase ID'].count()

# Improve formatting before outputting spreadsheet
summary_table_purch = pd.DataFrame({"Total Unique items": Unique_item_count,
                            "Average price": [avg_price],
                            "Number of Purchases":[purc_count],
                            "Total Revenue":[Total_Revenue]
                              })
# Improve formatting before outputting spreadsheet
summary_table_purch["Average price"] = summary_table_purch["Average price"].map( 
    "${:.2f}".format)
summary_table_purch["Total Revenue"] = summary_table_purch["Total Revenue"].map( 
    "${:.2f}".format)
summary_table_purch

   Total Unique items Average price  Number of Purchases Total Revenue
0                 179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed
	Total Count	Percentage of Players
Male	484	84.03
Female	81	14.06
Other / Non-Disclosed	11	1.91

In [101]:
count = purchase_data["Gender"].value_counts()
percentage = (count/Total)

summary_table_gender = pd.DataFrame({"Total User by Gender": count,
                              "Percentage of Players": percentage,
                              })
# Improve formatting before outputting spreadsheet
summary_table_gender["Percentage of Players"] = summary_table_gender["Percentage of Players"].map( 
    "{:.2%}".format)

summary_table_gender

                       Total User by Gender Percentage of Players
Male                                    652                83.59%
Female                                  113                14.49%
Other / Non-Disclosed                    15                 1.92%


## Purchasing Analysis (Gender) - Not complete

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame
	Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
    
Gender				
Female	113	$3.20	$361.94	$4.47
Male	652	$3.02	$1,967.64	$4.07
Other / Non-Disclosed	15	$3.35	$50.19	$4.56

In [116]:
#male = purchase_data["Gender"].counts()['male']
#female = purchase_data["Gender"].counts()['female']
#non_gender_specific = total_gender - male - female

male_df = purchase_data.loc[(
    purchase_data["Gender"] == "Male")]
male_total = male_df["Gender"].count()
male_avg_price = male_df["Price"].mean()
male_tot_purch_value =  male_df["Price"].sum()
#male_avg_total = male_tot_purch_value / male_total

female_df = purchase_data.loc[(
    purchase_data["Gender"] == "Female")]
female_total = female_df["Gender"].count()
female_total = female_df["Gender"].count()
female_avg_price = female_df["Price"].mean()
female_tot_purch_value =  female_df["Price"].sum()
#female_avg_total = female_tot_purch_value / female_total

non_gender_specific = Total - male_total - female_total
non_g_s_df = purchase_data.loc[(
    purchase_data["Gender"] != "Male" and purchase_data["Gender"] != "Female")]

summary_table_purch_analysis = pd.DataFrame({"Average Price by Gender": male_avg_price,
                              "Purchase Count": male_total
                             })
summary_table_purch_analysis
#print(purch_count)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table
	Total Count	Percentage of Players
    
<10	17	2.95
10-14	22	3.82
15-19	107	18.58
20-24	258	44.79
25-29	77	13.37
30-34	52	9.03
35-39	31	5.38
40+	12	2.08

In [124]:
#reduced_coders_pd = purchase_data.iloc[:, [
#    2, 6, 7]]
#reduced_coders_pd.head()

# Create bins in which to place values based ages
bins = [0, 10, 14, 19, 24, 29,
        34, 39, 40]
#Create labels for these bins
group_labels = ["<10", "10 to 14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]
# Slice the data and place it into bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
#df.head()

# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
#ted_df.head()

#df["Age_Summary"] = pd.cut(df["Age"], bins, labels=group_labels).head()

# Creating a group based off of the bins
#df = df.groupby("Age_Summary")
#df.count()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame
	Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
    
10-14	28	$2.96	$82.78	$3.76
15-19	136	$3.04	$412.89	$3.86
20-24	365	$3.05	$1,114.06	$4.32
25-29	101	$2.90	$293.00	$3.81
30-34	73	$2.93	$214.00	$4.12
35-39	41	$3.60	$147.67	$4.76
40+	13	$2.94	$38.24	$3.19
<10	23	$3.35	$77.13	$4.54

In [7]:
# Create bins in which to place values based ages
#bins = [0, 10, 14, 19, 24, 29,
#        34, 39, 40]

# Create labels for these bins
#group_labels = ["<10", "10 to 14", "15-19", "20-24", "25-29", "30-34",
#                "35-39", "40+"]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame
	Purchase Count	Average Purchase Price	Total Purchase Value
SN			
Lisosia93	5	$3.79	$18.96
Idastidru52	4	$3.86	$15.45
Chamjask73	3	$4.61	$13.83
Iral74	4	$3.40	$13.62
Iskadarya95	3	$4.37	$13.10

In [8]:
# SN by MAx purchase count
#AVG price of these purchaes
#Total purchase value

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80